* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
    font-family: "Arial Black";
    background-color: black;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
}

.container3 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end;
}

h1, h2 {
    font-size: 7rem;
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding: 15px 15px;
}

.webgl {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    outline: none;
    mix-blend-mode: exclusion;
}
